
.row {
  text-align: center;
}

.card {
  display: inline-block;
  width: 90px;
  height: 135px;
  background-color: #eee;
  cursor: pointer;
}

.card:hover {
  box-shadow: inset 0px 0px 0px 3px black;
}

.orchid {
  background-color: orchid;
}

.orangered {
  background-color: orangered;
}

.blueviolet {
  background-color:blueviolet;
}

.goldenrod {
  background-color: goldenrod;
}

.brown {
  background-color: brown;
}

.silver {
  background-color: silver;
}

.blanchedalmond {
  background-color: blanchedalmond;
}

.greenyellow {
  background-color: greenyellow;
}

.color-hidden {
  background-color: #eee;
}